<!doctype html>
<html ng-app="workerlistapp">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- build:css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/modal.css">
<!-- endbuild -->
<title>Workers</title>
<meta charset="utf-8">
</head>
<body ng-controller="workerController">
    <div class="page-header">
        <h1> List of workers </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8 move">
                    <input class="form-control" ng-model="text" placeholder = "Filter" />
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Data | filter : text" ng-click="ShowCurrent(item)">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td> 
                    <td>{{item.username}}</td>  
                </tr>
            </tbody>
        </table>
    </div>

  <workerdetail>
 
<script src="js/angular.min.js"></script>
<!-- build:js -->
<script src="js/list.js"></script>
<script src="js/modalwindow.js"></script>
<!-- endbuild -->
<script src="js/angular.sanitize.min.js"></script>

</body>
</html>