  <div class="modal_back not-visible-modal" >
  <div class="close-background" ng-click="hide()"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="hide()">&times;</button>
          <h4 ng-bind="Title" class="modal-title">Modal Title</h4>
        </div>
        <div  class="modal-body">       
            <workerinfo>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="hide()">Close</button>
        </div>
      </div>      
    </div>
  </div>